body {
    background: url("title.jpg");
    background-size: cover;
}

.glowBorder {
    box-shadow: inset 0 0 5px #000000, /* inner white */ inset 20px 0 80px rgba(10, 22, 255, 0.05), /* inner left magenta short */ inset -20px 0 80px rgba(24, 240, 255, 0.05), /* inner right cyan short */ inset 20px 0 300px rgba(10, 22, 255, 0.05), /* inner left magenta broad */ inset -20px 0 300px rgba(24, 240, 255, 0.05), /* inner right cyan broad */ 0 0 5px #fff, /* outer white */ -0px 0 10px #18f0ff, /* outer left magenta */ 0px 0 10px #0a16ff; /* outer right cyan */
}

.cardGlow {
    box-shadow: 0 0 5px #fff, /* outer white */ -0px 0 5px #18f0ff, /* outer left magenta */ 0px 0 5px #0a16ff; /* outer right cyan */
}


.glow {
    text-shadow: 0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 30px #FFFFFF,
    0 0 40px #00fffe,
    0 0 70px #00f1ff,
    0 0 80px #3871ff,
    0 0 100px #4475ff,
    0 0 150px #03f0ff;
}

.nav-link.active {
    background-color: transparent !important;
    color: #FFFFFF;
    text-shadow: 0 0 10px #000,
    0 0 20px #FFFFFF,
    0 0 30px #FFFFFF,
    0 0 40px #00fffe,
    0 0 70px #00f1ff,
    0 0 80px #3871ff,
    0 0 100px #4475ff,
    0 0 150px #03f0ff;
}

.fix-icon{
    box-shadow: 0 0 5px #fff, /* outer white */ -0px 0 5px #18f0ff, /* outer left magenta */ 0px 0 5px #0a16ff; /* outer right cyan */
}

.cardContainer .header {
    box-shadow: inset 0 0 100px rgba(10, 22, 255, 0.05), /* inner black */ inset 20px 0 80px rgba(10, 22, 255, 0.05), /* inner left magenta short */ inset -20px 0 80px rgba(24, 240, 255, 0.05), /* inner right cyan short */ inset 20px 0 300px rgba(10, 22, 255, 0.05), /* inner left magenta broad */ inset -20px 0 300px rgba(24, 240, 255, 0.05); /* inner right cyan broad */
}

#strikeDeck.area {
    display: inline;
}

#hq .col {
    padding-right: 0px;
    padding-left: 0px;
}

.complex {
    width: calc(100%/9*5);
    margin:5px;
}
#complex {
    border-radius: 10px;
}

.crew {
    width: calc(100%/9*5);
}

.combat {
    width: calc(100%/9*2);
}
#combat {
    border-radius: 10px;
}
#barracks {
    width: calc(100%/9);
    margin-left:10px;
}
#barracks .cardContainer{
    position: relative;
}
#sergeant {
    width: calc(100%/9);
    margin-left:5px;
}
#sergeant .cardContainer{
    position: relative;
}

.actionArea {
    display: inline-block;
}


#hq {
    border-radius: 10px;
}

#hq .col {
    padding-right: 0px;
    padding-left: 0px;
}


#pageSubmenu {
    padding-left: 10px;
}


#missionInfo img{
    height: 32vh;
}

.cardContainer {
    width: 15em !important;
    height:calc(15em/300*420) !important;
}